/* code here  */
.App {
  font-family: sans-serif;
  text-align: center;
}
.redColor {
  font-size: 30px;
  color: red;
}

.blueColor {
  font-size: 30px;
  color: blue;
  font-style: italic;
}

